.box{
    position: relative;
    border: 1px solid;
    border-radius: 6px;
    height: 60px;
    background-color: rgb(67, 3, 185);
}

.btn{
    position: absolute;
    right: 200px;
    top: 20px;
    width: 150px;
    height: 28px;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(0, 152, 212);
    cursor: pointer;
    transition: .2s;
}


.btn:hover{
    color: black;
    background-color: white;
    border-color: rgb(0, 152, 212);
}

.pay{
    position: absolute;
    right: 40px;
    top: 20px;
    width: 125px;
    height: 28px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(0, 152, 212);
    cursor: pointer;
    transition: .2s;
}

.pay:hover{
    color: black;
    background-color:white
    ;
    border-color: rgb(0, 152, 212);
}

h1{
    color: rgb(0, 152, 212);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
}

.logo{
    position: absolute;
    width: 500px;
    top: -105px;
}

.barra{
    font-size: 25px;
    text-align: center;
}

.barra a{
    color: black;
    text-decoration: none;
    margin: 35px;
    transition: .2s;
}

.barra a:hover{
    color: red;
}

.search{
    position: absolute;
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    top: 20px;
    left: 40px;
}

#linea{
    position: absolute;
    height: 45px;
    right: 360px;

}